#myPhoto {
    width: 230px;
    height: 200px;
    position: relative;
    float: left;
    margin-right: 8px;
    overflow: hidden;
    margin-top: 14px;
    border-radius: 5%;
}

hr {
    height: 2px;
    border: none;
    background: #4aaaa5;
}